{% load static %}

<html lang="en">
<head>
    <meta name="viewport" content="width=width-device, initial-scale=1">

    <!-- pour mettre les icones -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>CBIR PROJECT</title>
    <link rel="stylesheet" href="{% static 'css/styleC.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>

<main id="main1">
    <div style="height:90px;background-color:white;margin-top:0px;">


    <div id="div1">
       <span id="men1"><a href ="{% url 'home' %}" style="font-size: 16px;text-decoration:none;color:black"><b>ACCUEIL</b></a></span>
        <span id="men2"><a href ="{% url 'combine' %}" style="font-size: 16px;text-decoration:none;color:black"><b>EXTRACTION COMBINÉ</b></a></span>
        <span id="men3"><a href ="{% url 'simple' %}" style="font-size: 16px;text-decoration:none;color:black"><b>EXTRACTION SIMPLE </b></a></span>
    </div>


    <div id="div2">
          <span id="logo"><a href="accueilFrancais.php" ><img src="{% static 'image/logo.png'%}" alt="introuvable" width="300" height="90"></a></span>
        <span id="titre1"><a href="https://www.adidas.ca/fr" style="font-size: 8px;text-decoration:none;color:black">visitez également <b style="font-size: 14px;">google images</b></a></span>
        <span id="titre2"><a href ="#"style="font-size: 11px;text-decoration:none;color:black">inscription</a></span>
        <span id="titre3"><a href ="connection.php" style="font-size: 11px;text-decoration:none;color:black">se connecter</a></span>
    </div>
    </div>
<div style="height:30px;width:100%;padding-bottom:15px;background-color:black;color:white;overflow:hidden">
<div style="height:4px;width:100%;padding-top:0px;padding-bottom:15px;padding-bottom:5px;background-color:black;color:white;"></div>
            <a href ="#" class="two" style="font-size: 13px; padding-left:380px;color:white;">Notre methode de developpement</a>
            <a href ="#" class="two" style="font-size: 13px;color:white;">Entrer en contact avec nous</a>
         <a href ="#" class="two" style="font-size: 13px;color:white;">En savoir plus sur notre base de donnée</a>
    </div>


</main>



<div class="container">
<h1 class="text-info text-center"><b>Rechercher votre image avec une methode d'extraction Combine</b></h1> <br>
    <form class="row g-3" method="post" action="inscript.php">
  <div class="col-md-6">
    <label  class="form-label">Methode d'extraction 1</label>
       <select id="extraction1" class="custom-select" name="titre">
                              <option>GLCM</option>
                              <option>BIT</option>
                               <option>LBP</option>
                            </select>
  </div>
  <div class="col-md-6">
    <label  class="form-label">Methode d'extraction 2</label>
       <select id="extraction2" class="custom-select" name="titre">
                              <option>GLCM</option>
                              <option>BIT</option>
                               <option>LBP</option>
                            </select>
  </div>
  <div class="col-md-12 text-center" style="margin-top:10px;">
    <label  class="form-label">Distance à utiliser</label>
    <select id="distance" class="custom-select" name="titre">
                              <option>Eucledienne</option>
                              <option>Tchebychev</option>
                              <option>Manhattan</option>
                              <option>Mahalanobis</option>
                              <option>Canberra</option>
                            </select>
  </div>
<div style="height:100px;padding-left:380px;padding-top:30px;">
    <div class="bg-success text-light" style="padding:10px 50px;border-radius:5px;">
    <label for="exampleFormControlFile1">Importez votre image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</div>

    <div style="margin-top:20px;margin-left:480px;">
         <button type="submit"  class="btn btn-primary"><i class="fas fa-check"></i> <span style="padding-left:25px;"> <b>Rechercher</b> </span></button>
    </div>

    </form>
</div>


  <div style="height:180px;background-color:yellow;">
    <div class="row">
    <div class="col-1"></div>
        <div class="col-4" style="padding-top:40px;padding-left:87px;font-weight:bolder;font-size:30px">
        <h3>JOIGNEZ NOUS EN ENVOYANT VOTRE ADRESSE ELECTRONIQUE</h3>
        </div>
        <div class="col-2"></div>
        <div class="col-4"  style="padding-top:60px"><form action="email.php" method="post">
        <input type="text" placeholder="Votre  Boite Email" style="padding:15px;width:300px"><button type="submit" class=" bg-dark text-light"  style="padding:15px;">go
</button>
        </form></div>

    </div>
    </div>
    <div>

    </div>

    <div style="height:370px;background: #d5dbdb;padding-top:50px;">
    <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><b>IMAGES</b></p>
      <p><a href="aide.php" class="three">Covid-19</a></p>
      <p><a href="aide.php" class="three">Grossesse</a></p>
      <p><a href="aide.php" class="three">Chaussures de running</a></p>
      <p><a href="aide.php" class="three">Maladies</a></p>
    </div>
    <div class="col-sm-3">
      <p><b>DISTANCE</b></p>
      <p><a href="aide.php" class="three">Tchebychev</a></p>
      <p><a href="aide.php" class="three">Manhattan </a></p>
      <p><a href="aide.php" class="three">Mahalanobis</a></p>
      <p><a href="aide.php" class="three">Canberra</a></p>

    </div>

    <div class="col-sm-3">
      <p><b>TECHNIQUES D'EXTRATIONS </b></p>
      <p><a href="aide.php" class="three"> GLCM</a></p>
      <p><a href="aide.php" class="three">BIT</a></p>
      <p><a href="aide.php" class="three">LBT</a></p>
      <p><a href="aide.php" class="three">BIT ET GLCM</a></p>
      <p><a href="aide.php" class="three">BIT ET LBT</a></p>


    </div>
    <div class="col-sm-3">
      <p><b>COLLECTIONS</b></p>
      <p><a href="aide.php" class="three">sneaker pour enfant</a></p>
      <p><a href="aide.php" class="three">sacs a dos pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de football pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de running pour enfant</a></p>
      <p><a href="aide.php" class="three">jordan pour enfant</a></p>
      <p><a href="aide.php" class="three">sweat a capuche pour enfant</a></p>
      <p><a href="aide.php" class="three">t-shirt pour enfant</a></p>


    </div>
  </div>
</div>
</div>

<div style="height:100px;margin-bottom:0px" class="bg-dark">
<p style="padding-top:20px;padding-left:400px;font-weight:lighter;"class="text-light"><a href="aide.php" class="three" style="color:white">Canada <img src="{% static 'image/canada.png'%}" width=20 height=10 alt=""></a>
</p>
<div style="color:white;padding-left:200px;font-weight:lighter;font-size:12px;">
<pre style="color:white">Cookies          |         Site Map          |          Déclaration de Confidentialité    |       Conditions d’utilisation        |        Imprint|©   2020   adidas   Canada   Limited</pre>
</div>

</div>

</body>
</html>
