{% block contenu %}
<! DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=width-device, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

		<!-- pour mettre les icones -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
     a.three:link, a.three:visited {
            color: black;

            font-size:13px;
            }
    </style>
    </head>
    <body>

    <div style="height:180px;background-color:yellow;">
    <div class="row">
    <div class="col-1"></div>
        <div class="col-4" style="padding-top:40px;padding-left:87px;font-weight:bolder;font-size:30px">
        <h3>INSCRIVEZ-VOUS POUR RECEVOIR LES NOUVELLES ET UNE REMISE DE 15 %</h3>
        </div>
        <div class="col-2"></div>
        <div class="col-4"  style="padding-top:60px"><form action="email.php" method="post">
        <input type="text" placeholder="Votre  Boite Email" style="padding:15px;width:300px"><button type="submit" class=" bg-dark text-light"  style="padding:20px;"><i class="fas fa-arrow-right"></i>
</button>
        </form></div>

    </div>
    </div>
    <div>

    </div>
    <div style="height:30px"></div>

    <div style="height:350px">
    <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><b>PRODUITS</b></p>
      <p><a href="aide.php" class="three">Chaussures</a></p>
      <p><a href="aide.php" class="three">chaussures de football</a></p>
      <p><a href="aide.php" class="three">chaussures de running</a></p>
      <p><a href="aide.php" class="three">Accessoires</a></p>
      <p><a href="aide.php" class="three">Nouveautés</a></p>
      <p><a href="aide.php" class="three">Produits plus vendus</a></p>
      <p><a href="aide.php" class="three">Dates de sortie</a></p>

    </div>
    <div class="col-sm-3">
      <p><b>SPORTS</b></p>
      <p><a href="aide.php" class="three">Soccer</a></p>
      <p><a href="aide.php" class="three">Course</a></p>
      <p><a href="aide.php" class="three">Hockey</a></p>
      <p><a href="aide.php" class="three">Basketball</a></p>
      <p><a href="aide.php" class="three">Golf</a></p>
      <p><a href="aide.php" class="three">Entraînement</a></p>
      <p><a href="aide.php" class="three">De Plein Air</a></p>

    </div>

    <div class="col-sm-3">
      <p><b>SUPPORT</b></p>
      <p><a href="aide.php" class="three">Superstar</a></p>
      <p><a href="aide.php" class="three">Stan Smith</a></p>
      <p><a href="aide.php" class="three">Continental 80</a></p>
      <p><a href="aide.php" class="three">Nite Jogger</a></p>
      <p><a href="aide.php" class="three">Ozweego</a></p>
      <p><a href="aide.php" class="three">Adilette</a></p>
      <p><a href="aide.php" class="three">grande taille</a></p>
      <p><a href="aide.php" class="three">nouveautes</a></p>
      <p><a href="aide.php" class="three">black friday</a></p>
    </div>
    <div class="col-sm-3">
      <p><b>COLLECTIONS</b></p>
      <p><a href="aide.php" class="three">sneaker pour enfant</a></p>
      <p><a href="aide.php" class="three">sacs a dos pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de football pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de running pour enfant</a></p>
      <p><a href="aide.php" class="three">jordan pour enfant</a></p>
      <p><a href="aide.php" class="three">sweat a capuche pour enfant</a></p>
      <p><a href="aide.php" class="three">t-shirt pour enfant</a></p>
      <p><a href="aide.php" class="three">survetement pour enfant</a></p>

    </div>
  </div>
</div>
</div>
<div style="height:20px"></div>
<div style="height:100px;margin-bottom:0px" class="bg-dark">
<p style="padding-top:20px;padding-left:400px;font-weight:lighter;"class="text-light"><a href="aide.php" class="three" style="color:white">Canada <img src="{% static 'image/canada.png'%}" width=20 height=10 alt=""></a>
</p>
<div style="color:white;padding-left:200px;font-weight:lighter;font-size:12px;">
<pre style="color:white">Cookies          |         Site Map          |          Déclaration de Confidentialité    |       Conditions d’utilisation        |        Imprint|©   2020   adidas   Canada   Limited</pre>
</div>

</div>
</body>
</html>
